fastapi
uvicorn
pymongo
python-dotenv
bcrypt
passlib[bcrypt]
pyjwt
pydantic
email-validator
pytest
pydantic-settings
mongoengine
authlib
python-jose[cryptography]
python-multipart
cloudinary
langchain-google-genai
langchain-core
langchain-community
langchain-pinecone
langgraph
pypdf
pinecone